# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# CodeBlocks files
bin/
obj/
*.depend
*.cbp

*~
*.swp
Debug/
*.sln
*.filters
*.VC.db
*.suo
*.vcxproj
*.opendb
ipch/
*.pdb
*.tlog
*.vcxproj.user
*.exe
*.exp
*.ipdb
*.iobj
*.ipch
*.vcproj
